nav {
	background-color: #ffb8e6;
}
.jumbotron {
	text-align: center;
	padding-top: 100px;
}
.jumbotron img {
	width: 200px;
}
#about {
	text-align: center;
	margin-top: 155px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 225px;
	padding-bottom: 225px;
	height: 100%;
	background-color: #ffb8e6;
}
body {
	width: 100%;
}
#skills {
	text-align: center;
	padding-top: 225px;
	padding-bottom: 225px;
	height: 100%;
}
#skills img {
	width: 300px;
}
div {
	margin: auto;
}
.myprojects {
	padding-top: 30px;
	padding-bottom: 50px;
}
#contact {
	padding-top: 200px;
	padding-bottom: 200px;
}
footer {
	background-color: #ffb8e6;
	padding: 20px;
}
#projects {
	background-color: #ffb8e6;
	padding-top: 100px;
	padding-bottom: 100px;
}
